In [4]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,New Norfolk,-42.78,147.06,44.01,91,100,1.99,AU,2020-08-22 20:07:09
1,1,San Patricio,19.22,-104.70,89.60,75,75,11.41,MX,2020-08-22 20:07:09
2,2,Lebu,-37.62,-73.65,53.49,75,0,11.25,CL,2020-08-22 20:07:09
3,3,Sitka,57.05,-135.33,57.20,87,75,4.70,US,2020-08-22 20:07:10
4,4,Albany,42.60,-73.97,84.99,41,0,8.59,US,2020-08-22 20:05:37